<web-app>
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSub</servlet-name>
        <servlet-class>AddSub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSub</servlet-name>
        <servlet-class>UpdateSub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQus</servlet-name>
        <servlet-class>AddQus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSession</servlet-name>
        <servlet-class>AddSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exit</servlet-name>
        <servlet-class>Exit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QusValue</servlet-name>
        <servlet-class>QusValue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LastPage</servlet-name>
        <servlet-class>LastPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Result</servlet-name>
        <servlet-class>Result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoHome</servlet-name>
        <servlet-class>GoHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPF</servlet-name>
        <servlet-class>EditPF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQus</servlet-name>
        <servlet-class>EditQus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQus</servlet-name>
        <servlet-class>DeleteQus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SesstionAdd</servlet-name>
        <servlet-class>SesstionAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNote</servlet-name>
        <servlet-class>AddNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUNote</servlet-name>
        <servlet-class>AddUNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUNote</servlet-name>
        <servlet-class>EditUNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNote</servlet-name>
        <servlet-class>DeleteNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUNote</servlet-name>
        <servlet-class>DeleteUNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestD</servlet-name>
        <servlet-class>TestD</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>CreateTest</servlet-name>
        <servlet-class>CreateTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTest</servlet-name>
        <servlet-class>ShowTest</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SesstionCreate</servlet-name>
        <servlet-class>SesstionCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QusValueForShow</servlet-name>
        <servlet-class>QusValueForShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSession</servlet-name>
        <servlet-class>CreateSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSub</servlet-name>
        <url-pattern>/AddSub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSub</servlet-name>
        <url-pattern>/UpdateSub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQus</servlet-name>
        <url-pattern>/AddQus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSession</servlet-name>
        <url-pattern>/AddSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exit</servlet-name>
        <url-pattern>/Exit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QusValue</servlet-name>
        <url-pattern>/QusValue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Result</servlet-name>
        <url-pattern>/Result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LastPage</servlet-name>
        <url-pattern>/LastPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoHome</servlet-name>
        <url-pattern>/GoHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPF</servlet-name>
        <url-pattern>/EditPF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQus</servlet-name>
        <url-pattern>/EditQus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQus</servlet-name>
        <url-pattern>/DeleteQus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SesstionAdd</servlet-name>
        <url-pattern>/SesstionAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNote</servlet-name>
        <url-pattern>/AddNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUNote</servlet-name>
        <url-pattern>/AddUNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUNote</servlet-name>
        <url-pattern>/EditUNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNote</servlet-name>
        <url-pattern>/DeleteNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUNote</servlet-name>
        <url-pattern>/DeleteUNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestD</servlet-name>
        <url-pattern>/TestD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTest</servlet-name>
        <url-pattern>/CreateTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTest</servlet-name>
        <url-pattern>/ShowTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SesstionCreate</servlet-name>
        <url-pattern>/SesstionCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QusValueForShow</servlet-name>
        <url-pattern>/QusValueForShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSession</servlet-name>
        <url-pattern>/CreateSession</url-pattern>
    </servlet-mapping>
</web-app>